.contenedor-imagen {
  position: relative;
    text-align: center;
    color: white;
    z-index: 1;
    font-size: 22px;
    font-weight: bold;
}

.contenedor-imagen > p{
  position: absolute;
  z-index: 2;
  color: black;
}

#numeroDeTarjeta {
  left: 646px;
  top: 134px;
  font-size: 28px;
}

#fechaDeVencimiento {
  left: 617px;
  top: 218px;
}

#TipoBanco {
  left: 50%;
  top: 6%;
}

img{
  width: 500px;
}

h1 {
  
}