.contenedor-imagen {
  position: relative;
    text-align: center;
    color: white;
    z-index: 1;
    font-size: 22px;
    font-weight: bold;
    
}

.contenedor-imagen > p{
  position: absolute;
  z-index: 2;
  color: rgba(50, 47, 2, 0.507);
}

#numeroDeTarjeta {
  left: 260px;
  top: 134px;
  font-size: 28px;
}

#fechaDeVencimiento {
  left: 200px;
  top: 218px;
}

#TipoBanco {
  left: 50%;
  top: 6%;
}

img{
  width: 500px;
  border-radius: 5%;
  int
}
  
body {
  font-family: sans-serif;
  color: rgba(40, 53, 125, 0.899);
}
footer {
  max-width: 700px;
  background-color: #9398e483;
  overflow: hidden;
  color: #000105e9;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: 160px;
 
}

#formulario {
  max-width: 700px;
  background-color: #9398e4ce;
  overflow: hidden;
  color: #141411;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: 150px;
  text-align: center
 
}

header {
  max-width: 700px;
  background-color: #9398e4ce;
  overflow: hidden;
  color: #141411;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: 150px;
}
#resultado {
  max-width: 700px;
  background-color: #9398e4ce;
  overflow: hidden;
  color: #141411;
  margin: auto;
  display: flex;
  
  position: relative;
  top: 150px;
  text-align: center;
}

